*{
    box-sizing: border-box;
    margin: 0;padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #26313c;
    padding: 100px;
    text-align: center;
    color: white;
}

header h1{
    font-size: 60px;
}

nav{
    background-color: #191D26;
}

.navigation{
    display: flex;
    list-style: none;
}

.navigation a{
    text-decoration: none;
    display: block;
    padding: 20px;
    color: white;
    font-weight: bold;
}

.navigation a:hover{
    color:deepskyblue;
}

.flex-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F7F7F7;
    padding: 20px;
    text-align: center;
}

.flex-container div {
    margin: 20px;
    padding:10px;
    height: 600px;
    background-color: #A2CBFA;
}

.flex-container div h2,h4,p{
    padding: 10px;
}

.left{
   flex:30%;
}

.middle{
    flex: 30%;
}

.right{
    flex: 30%;
}

footer{
    background-color: #0D0F13;
    color:white;
    text-align: center;
    padding: 20px;
}
@media all and (max-width:1024px){
    .flex-container{
        flex-direction: column;
    }
    .navigation{
        width: 100%;
        justify-content: space-around;

    }
}

@media all and (max-width: 640px){
    .navigation, .flex-container{
        flex-direction: column;
    }

    .navigation a{
        text-align: center;
        padding: 10px;
        border-top: 1px solid grey ;
    }
}